.series {
  .header {
    .banner {
      width: 100%;
    }

    .episode-stats {
      th {
        padding-right: 40px;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
      }

      td {
        min-width: 200px;
        font-size: 18px;
      }
    }
  }

  .season-listing {
    margin-top: 60px;

    .episode.unaired {
      color: red;
    }

    .episode.available {
      color: green;
    }

    .episode.seen {
      color: gray;
    }
  }
}
