<!DOCTYPE html>
<html>
<head>

  <title>TV Tracker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css" media="screen">

</head>
<body>

  <div class="container">

    <header>
      <div class="row">
        <div class="col-md-3">
          <h1><a href="/">TV Tracker</a></h1>
        </div>
        <div class="col-md-9">
          <div class="user-header pull-right">
            <nav>
              <ul>
                {% if user.is_authenticated %}
                  <li>
                    {{ user.username }}
                  </li>
                  <li>
                    <a href="{% url 'core:dashboard' %}">Dashboard</a>
                  </li>
                  <li>
                    <a href="{% url 'core:logout' %}">Log out</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'core:login' %}">Log in</a>
                  </li>
                {% endif %}
              </ul>
            </nav>

            {% if user.is_authenticated %}
              <form action="{% url 'core:search' %}" method="get" class="search">
                <input
                  type="text"
                  name="query"
                  placeholder="Search for series..."
                  value="{{ series_search_query }}"
                  class="form-control search">
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    {% block body %}{% endblock %}

    <footer>
      Synced with TheTVDB: <strong>{{ last_update|date:"F jS" }}</strong>
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>

