<!DOCTYPE html>
<html>
<head>

  <title>TV Tracker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css" media="screen">
  <link rel="shortcut icon" href="/static/img/tv.ico">

</head>
<body>

  <div class="container">

    <header>
      <div class="row">
        <div class="col-md-3">
          <h1>
            {% if not user.is_authenticated %}
              <a href="{% url 'core:intro' %}">TV Tracker</a>
            {% else %}
              <a href="{% url 'core:dashboard' %}">TV Tracker</a>
            {% endif %}
          </h1>
        </div>
        <div class="col-md-9">
          <div class="user-header text-right">
            {% if not user.is_authenticated %}

              <form action="{% url 'core:intro' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control input-sm"
                    name="username"
                    placeholder="Username"
                    value="{{ form.username.value|default:"" }}">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-sm" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default btn-sm">Log in</button>
              </form>

            {% else %}

              <nav>
                <ul>
                    <li>
                      {{ user.username }}
                    </li>
                    <li>
                      <a href="{% url 'core:logout' %}">Log out</a>
                    </li>
                </ul>
              </nav>

              <form action="{% url 'core:search' %}" method="get" class="search form-inline">
                <div class="input-group">
                  <input
                    type="text"
                    name="query"
                    placeholder="Search for series..."
                    value="{{ series_search_query }}"
                    class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    {% for message in messages %}
      {% if message.message == 'invalid_authentication' %}
        <div class="alert alert-danger">
          Your username and password didn't match. Please try again.
        </div>
      {% endif %}
    {% endfor %}

    {% block body %}{% endblock %}

    <footer>
      Synced with TheTVDB: <strong>{{ last_update|date:"F jS" }}</strong>
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>

