{% extends 'layout.html' %}

{% block body %}

  {% if form.errors %}
    <div class="alert alert-danger">
      Your username and password didn't match. Please try again.
    </div>
  {% endif %}

  <form method="post" action="{% url 'core:login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
        value="{{ form.username.value|default:"" }}">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Log in</button>
  </form>

{% endblock %}
