{% extends 'layout.html' %}

{% block body %}

  <form action="{% url 'core:register' %}" method="post" class="recaptcha text-center">
    {% csrf_token %}
    <input type="hidden" name="captcha" value="1">
    <input type="hidden" name="username" value="{{ username }}">

    <h2>Please prove that you're human</h2>
    <div class="recaptcha-center">
      {{ form.captcha }}
    </div>

    <input type="password" class="form-control" name="password" placeholder="Also, choose a password...">
    <button class="btn btn-sm btn-default" type="submit">Okay then, register me</button>
    <div class="help-block">
      Don't mistype the password.
    </div>
  </form>

{% endblock %}
