{% load grouper %}

<div class="active-series">
  {% for group in active_watches|grouper:4 %}
    <div class="row">
      {% for watching in group %}
        <div class="col-md-3">
          <div class="series">
            <a href="{% url 'core:watching' watching.id %}">
              <img class="poster" src="http://thetvdb.com/banners/{{ watching.series.poster }}">
            </a>

            <p class="title">
              {{ watching.series.name }}
              <a
                class="pull-right"
                title="Stop watching for now"
                href="{% url 'core:watching_status' watching.id %}?status=default">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </p>

            <p class="next">
              {% if watching.has_next_episode %}
                Next episode: {{ watching.next_episode.episode_number }}

                {% if watching.unseen_available.count > 0 %}
                  ({{ watching.unseen_available.count }} left)
                {% else %}
                  {% if watching.next_episode.air_date %}
                    (airs in {{ watching.next_episode.days_remaining }} days)
                  {% else %}
                    (air date TBA)
                  {% endif %}
                {% endif %}

              {% else %}
                {% if watching.series.status|lower == 'ended' %}
                  Series has ended
                {% else %}
                  Next episode TBA (seen: {{ watching.last_seen }})
                {% endif %}
              {% endif %}
            </p>

            <p class="input">
              {% if watching.has_next_episode %}
                <a href="{% url 'core:watching_seen' watching.id %}?increment">Watch</a>
              {% endif %}
              {% if watching.has_next_episode and watching.has_last_seen %}
                or
              {% endif %}
              {% if watching.has_last_seen %}
                <a href="{% url 'core:watching_seen' watching.id %}?decrement">Forget</a>
              {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
