{% extends 'layout.html' %}

{% block body %}

  <div class="search-results">

    <div class="row">
      <div class="col-lg-12">
        <h2>
          <strong>{{ series_search_results|length }}</strong> results for <strong>{{ series_search_query }}</strong>:
        </h2>
      </div>
    </div>

    {% if series_search_query|length < 3 %}
      <div class="alert alert-danger">
        Please use at least 3 search characters.
      </div>
    {% endif %}

    {% for series in series_search_results %}
      <div class="series-result">
        <div class="row">
          <div class="col-lg-12">

            {% if series.banner %}
              <a href="http://thetvdb.com/?tab=series&amp;id={{ series.tvdbid }}">
                <img src="http://thetvdb.com/banners/{{ series.banner }}">
              </a>
            {% endif %}

            <p class="title">
              <a href="http://thetvdb.com/?tab=series&amp;id={{ series.tvdbid }}">{{ series.name }}</a>
              {% if series.first_aired %}
                ({{ series.first_aired|date:"Y" }})
              {% endif %}
              {% if series.imdb %}
                &mdash; <a href="http://www.imdb.com/title/{{ series.imdb }}/">iMDB</a>
              {% endif %}
            </p>

            {% if series.overview %}
              <p>
                {{ series.overview }}
              </p>
            {% endif %}

            <p>
              <a
                href="{% url 'core:series_synchronize' %}?tvdbid={{ series.tvdbid }}"
                class="btn btn-default btn-lg">
                Add it!
              </a>
            </p>

          </div>
        </div>
      </div>
    {% endfor %}

  </div><!-- /.search-results -->

{% endblock %}
