{% if series_plural|length == 0 %}

  <p>No series in this category.</p>

{% else %}

  <table class="table">
    <tr>
      <th>Show</th>
      <th>Seen</th>
      <th>Available</th>
      <th>Next on air</th>
      <th>Last</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for series in series_plural %}
      <tr>
        <td><a href="{% url 'core:series' series.id %}">{{ series.name }}</a></td>
        <td>{{ series.last_seen }}</td>
        <td>
          {% if series.unseen_available.count == 0 %}
            -
          {% else %}
            {{ series.unseen_available.first.episode_number }}

            {% if series.unseen_available.first != series.unseen_available.last %}
             - {{ series.unseen_available.last.episode_number }}
            {% endif %}

            ({{ series.unseen_available.count }} total)
          {% endif %}
        </td>
        <td>
          {% if series.has_next_episode_on_air %}
            {{ series.next_episode_on_air.episode_number }} ({{ series.next_episode_on_air.days_remaining }} days: {{ series.next_episode_on_air.air_date|date:"d.m.Y" }})
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>{{ series.last_episode.episode_number }}</td>
        <td>{{ series.status }}</td>
        <td>
          {% if series.local_status == 'active' %}
            <a class="btn btn-default btn-sm" href="{% url 'core:series_status' series.id %}?status=default">
              Stop watching
            </a>
          {% elif series.local_status == 'default' %}
            <a class="btn btn-default btn-sm" href="{% url 'core:series_status' series.id %}?status=active">
              Watch
            </a>
            <a class="btn btn-default btn-sm" href="{% url 'core:series_status' series.id %}?status=archived">
              Archive
            </a>
          {% elif series.local_status == 'archived' %}
            <a class="btn btn-default btn-sm" href="{% url 'core:series_status' series.id %}?status=default">
              Reactivate
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endif %}
