<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TV</title>
  <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-responsive.min.css" media="screen">

  <link rel="stylesheet" href="/static/css/main.css" media="screen">
</head>
<body>
  <div class="container">

    <header>
      <div class="row">
        <div class="span8">
          <h1>TV DB</h1>
        </div>
        <div class="span4">
          <input type="text" name="new-series" placeholder="Add new series..." class="input-xlarge">
        </div>
      </div>
    </header>

    {% block body %}{% endblock %}

  </div>
</body>
</html>
