<!DOCTYPE html>
<html>
<head>

  <title>TV</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="/static/css/style.css" media="screen">

</head>
<body>

  <div class="container">

    <header>
      <div class="row">
        <div class="col-md-8">
          <h1><a href="/">TV DB</a></h1>
        </div>
        <div class="col-md-4">
          <form action="{% url 'core:search' %}" method="get" class="search">
            <input type="text" name="query" placeholder="Add new series..." value="{{ series_search_query }}" class="new-series form-control">
          </form>
        </div>
      </div>
    </header>

    {% block body %}{% endblock %}

    <footer>
      Synced with TheTVDB: <strong>{{ last_update|date:"F jS" }}</strong>
    </footer>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>

