{% extends 'layout.html' %}

{% block body %}

<h3><strong>{{ series_search_results|length }}</strong> results for <strong>{{ series_search_query }}</strong>:</h3>

<div class="row">
  <div class="span6">

    <table class="table">
      {% for series in series_search_results %}
        <tr>
          <td>
            <form action="{% url app.views.search %}" method="post" style="margin: 0;">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ series.id }}">
              <button type="submit" class="btn"><i class="icon-ok"></i></button>
            </form>
          </td>
          <td>
            <a href="http://thetvdb.com/?tab=series&amp;id={{ series.id }}">{{ series.name }}</a>
          </td>
          <td>
            {% if series.first_aired %}
              {{ series.first_aired|date:"Y" }}
            {% endif %}
          </td>
          <td>
            {% if series.imdb %}
              <a href="http://www.imdb.com/title/{{ series.imdb }}/">iMDB</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

  </div>
</div>


{% endblock %}
