{% extends 'layout.html' %}

{% block body %}

<h3><strong>{{ series_search_results|length }}</strong> results for <strong>{{ series_search_query }}</strong>:</h3>

<div class="row">
  <div class="span6">

    <table class="table">
      {% for show in series_search_results %}
        <tr>
          <td>
            <a href="{% url 'core.views.add_show' show.id %}" class="btn"><i class="icon-ok"></i></a>
          </td>
          <td>
            <a href="http://thetvdb.com/?tab=series&amp;id={{ show.id }}">{{ show.name }}</a>
          </td>
          <td>
            {% if show.first_aired %}
              {{ show.first_aired|date:"Y" }}
            {% endif %}
          </td>
          <td>
            {% if show.imdb %}
              <a href="http://www.imdb.com/title/{{ show.imdb }}/">iMDB</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

  </div>
</div>


{% endblock %}
