{% extends 'layout.html' %}

{% block body %}

{% if series.banner %}
  <p class="banner">
    <a href="http://thetvdb.com/?tab=series&amp;id={{ series.tvdbid }}">
      <img src="http://thetvdb.com/banners/{{ series.banner }}">
    </a>
  </p>
{% endif %}

<div class="row">
  <div class="col-sm-offset-4 col-md-5">
    <form action="{% url 'core.views.last_seen' %}" method="post" class="last-seen">
      {% csrf_token %}
      <input type="hidden" name="series" value="{{ series.id }}">
      Seen:
      <input type="text" name="last-seen" value="{{ series.last_seen }}" class="last-seen form-control">
      <button type="submit" class="btn">Ok</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-3 col-md-6">
      {% for season in series.get_seasons %}
        <h4 class="season" data-season="{{ season.number }}">
          Season {{ season.number }}
          <span class="count pull-right">({{ season.episodes.all|length }})</span>
        </h4>

        <table class="table episodes" data-season="{{ season.number }}">
          {% for episode in season.get_episodes %}
            <tr class="{{ episode.get_status_class }}">
              <td>
                {{ episode.get_number }}
              </td>
              <td>
                {{ episode.get_status|title }}
              </td>
              <td>
                {{ episode.air_date|date:"j. F Y" }}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <a href="{% url 'core.views.delete_series' series.id %}" class="btn btn-danger btn-lg">Delete this series</a>
  </div>
</div>

{% endblock %}
