{% if series|length == 0 %}

  <p>No series in this category.</p>

{% else %}

  <table class="table">
    <tr>
      <th>Show</th>
      <th>Seen</th>
      <th>Available</th>
      <th>Next</th>
      <th>Newest</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for show in series %}
      <tr>
        <td><a href="{% url 'core.views.show' show.id %}">{{ show.name }}</a></td>
        <td>{{ show.last_seen }}</td>
        <td>
          {% with show.get_available_unseen as avail %}
            {% if avail.count == 0 %}
              -
            {% else %}
              {{ avail.latest.get_number }} ({{ avail.count }} total)
            {% endif %}
          {% endwith %}
        </td>
        <td>
          {% if show.get_next_episode %}
            {{ show.get_next_episode.get_number }} ({{ show.get_next_episode.get_days_remaining }} days: {{ show.get_next_episode.air_date|date:"d.m.Y" }})
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>{{ show.get_newest_episode.get_number }}</td>
        <td>{{ show.status }}</td>
        <td>
          {% if show.local_status == 'active' %}
            <a class="btn btn-default btn-sm" href="{% url 'core.views.set_show_status' show.id 'default' %}">
              Stop watching
            </a>
          {% elif show.local_status == 'default' %}
            <a class="btn btn-default btn-sm" href="{% url 'core.views.set_show_status' show.id 'active' %}">
              Watch
            </a>
            <a class="btn btn-default btn-sm" href="{% url 'core.views.set_show_status' show.id 'archived' %}">
              Archive
            </a>
          {% elif show.local_status == 'archived' %}
            <a class="btn btn-default btn-sm" href="{% url 'core.views.set_show_status' show.id 'default' %}">
              Reactivate</
              a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endif %}
