{% if series_plural|length == 0 %}

  <p>No series in this category.</p>

{% else %}

  <table class="table">
    <tr>
      <th>Show</th>
      <th>Seen</th>
      <th>Available</th>
      <th>Next</th>
      <th>Newest</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for series in series_plural %}
      <tr>
        <td><a href="{% url 'core:series' series.id %}">{{ series.name }}</a></td>
        <td>{{ series.last_seen }}</td>
        <td>
          {% with series.get_available_unseen as avail %}
            {% if series.unseen_episode_count == 0 %}
              -
            {% else %}
              {{ avail.latest.get_number }} ({{ series.unseen_episode_count }} total)
            {% endif %}
          {% endwith %}
        </td>
        <td>
          {% if series.get_next_episode %}
            {{ series.get_next_episode.get_number }} ({{ series.get_next_episode.get_days_remaining }} days: {{ series.get_next_episode.air_date|date:"d.m.Y" }})
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>{{ series.get_newest_episode.get_number }}</td>
        <td>{{ series.status }}</td>
        <td>
          {% if series.local_status == 'active' %}
            <a class="btn btn-default btn-sm" href="{% url 'core:set_series_status' series.id 'default' %}">
              Stop watching
            </a>
          {% elif series.local_status == 'default' %}
            <a class="btn btn-default btn-sm" href="{% url 'core:set_series_status' series.id 'active' %}">
              Watch
            </a>
            <a class="btn btn-default btn-sm" href="{% url 'core:set_series_status' series.id 'archived' %}">
              Archive
            </a>
          {% elif series.local_status == 'archived' %}
            <a class="btn btn-default btn-sm" href="{% url 'core:set_series_status' series.id 'default' %}">
              Reactivate
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endif %}
