{% extends 'layout.html' %}

{% block body %}

{% if show.banner %}
  <p class="banner">
    <a href="http://thetvdb.com/?tab=series&amp;id={{ show.tvdbid }}">
      <img src="http://thetvdb.com/banners/{{ show.banner }}">
    </a>
  </p>
{% endif %}

<div class="row">
  <div class="offset4 span4">
    <form action="{% url app.views.last_seen %}" method="post" class="last-seen">
      {% csrf_token %}
      <input type="hidden" name="show" value="{{ show.id }}">
      Seen:
      <input type="text" name="last-seen" value="{{ show.last_seen }}" class="last-seen input-small">
      <button type="submit" class="btn"><i class="icon-ok"></i></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="offset3 span6">
      {% for season in show.get_seasons %}
        <h4 class="season" data-season="{{ season.number }}">
          Season {{ season.number }}
          <span class="count pull-right">({{ season.episodes.all|length }})</span>
        </h4>

        <table class="table episodes" data-season="{{ season.number }}">
          {% for episode in season.get_episodes %}
            <tr class="{{ episode.get_status }}">
              <td>
                {{ episode.get_number }}
              </td>
              <td>
                {{ episode.get_status|title }}
              </td>
              <td>
                {{ episode.air_date|date:"j. F Y" }}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}
  </div>
</div>

{% endblock %}
