{% extends 'layout.html' %}

{% block body %}

{% if show.banner %}
  <p class="banner">
    <a href="http://thetvdb.com/?tab=series&amp;id={{ show.tvdbid }}">
      <img src="http://thetvdb.com/banners/{{ show.banner }}">
    </a>
  </p>
{% endif %}

<div class="row">
  <div class="offset4 span4">
    <form action="{% url app.views.last_seen %}" method="post" class="last-seen">
      {% csrf_token %}
      <input type="hidden" name="show" value="{{ show.id }}">
      Seen:
      <input type="text" name="last-seen" value="{{ show.last_seen }}" class="last-seen input-small">
      <button type="submit" class="btn"><i class="icon-ok"></i></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="offset3 span6">
    <table class="table">
      {% for season in show.get_seasons %}
        <tr>
          <th>Season {{ season.number }}</th>
        </tr>
        {% for episode in season.get_episodes %}
          <tr>
            <td>
              {{ season.number }}
              x
              {# Should be a filter or something else, but meh, just prepende 0 if < 10 #}
              {% if episode.number < 10 %}0{% endif %}{{ episode.number }}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
