.recaptcha {
  $recaptcha-width: 304px; // Magic size of recaptcha box

  h2 {
    font-size: 20px;
  }

  .recaptcha-center {
    margin: 10px auto 0 auto;
    width: $recaptcha-width;
  }

  input, button {
    margin: 10px auto 0 auto;
    width: $recaptcha-width;
  }
}
