.series {
  .header {
    margin-top: 20px;

    .poster {
      max-width: 100%;
    }

    h1 {
      margin-top: 0;
    }

    .episode-stats {
      .last-seen {
        width: 200px;
      }

      th {
        padding: 3px 20px 3px 0;
        font-size: 18px;
        text-align: left;
      }

      td {
        padding: 3px 5px 3px 0;
        min-width: 200px;
        font-size: 18px;
      }
    }
  }

  .season-listing {
    margin-top: 60px;

    .episode.unaired {
      color: red;
    }

    .episode.available {
      color: green;
    }

    .episode.seen {
      color: gray;
    }
  }
}
