form.last-seen {
  text-align: center;

  input.last-seen {
    display: inline;
    height: 28px;
    width: 100px;
    font-size: 16px;
  }

  button {
    margin-bottom: 10px;
  }
}

p.banner {
  text-align: center;
}

h4.season {
  cursor: pointer;

  span.count {
    font-weight: normal;
  }
}

table.episodes {
  tr.unaired {
    color: red;
  }

  tr.available {
    color: green;
  }

  tr.seen {
    color: gray;
  }
}
