.series {
  margin-bottom: 20px;

  .banner {
    margin-right: 10px;
  }

  table th {
    font-weight: normal;
  }

  table th,
  table td {
    font-size: 24px;
  }

  .available {
    font-size: 24px;
    font-family: "Lato", sans-serif;
  }

  .increase-seen {
    font-size: 18px;
  }
}
